textarea {
  width:100%;
}

.form-check{
  margin-top: 10px;
}

#actionLog {
  margin-top: 10px;
}

#log {
  margin-top: 10px;
}

#memberlist {
  margin-top: 10px;
}

#nameprefix {
  margin-top: 10px;
}

.tokensbtn {
  width: 100%;
}

